@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

:root {
  --back: #e0e0e0;
  --main: #1d3649;
  --alternative: #4666FF;
  --alternative2: #52b7a1;
}

* {
  font-family: "Zen Dots", cursive;
  color: var(--main);
}

html,
body {
  background-color: var(--back);
  margin: 0;
  padding: 0;
  height: 100%;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#drum-machine {
  min-width: 80vh;
  min-height: 50vh;
  border-radius: 20px;
  background: var(--back);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  text-align: center;
}
h1 {
  filter: drop-shadow(3px 2px 1px black);
  margin: 20px;
  max-height: 40px;
}

#box {
  display: flex;
  flex-direction: row;
}
#box > .grid {
  flex-grow: 1;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.grid:nth-child(1) > .drum-pad {
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: var(--alternative2);
  border-radius: 5px;
  background: var(--back);
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  height: 70px;
  /* width: 50px; */
}

.grid:nth-child(1) > .drum-pad:hover {
  color: var(--alternative);
  border-radius: 5px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff; /* width: 50px; */
}

.grid:nth-child(2) {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #e0e0e0;
  background: var(--back);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
